<%- include ../partials/header.ejs %>

<div class="jumbotron">
    <div class="container">
        <h1>Barrie Pet Stores</h1>
        <p>Your number one stop for a list of all pet stores, groomers, and boarding in the Barrie area</p>
    </div>
</div>

<!--edit/delete/save form-->

<main class="container">
    <h1>Article Details</h1>
    <form method="post" action="<%= stores._id %>">
        <fieldset class="form-group">
            <label for="name" class="col-sm-2">Pet Store Name: </label>
            <input name="name" id="name" required value="<%= stores.name %>"/>
        </fieldset>
        <fieldset class="form-group">
            <label for="address" class="col-sm-2">Address: *</label>
            <input name="address" id="address" required value="<%= stores.address %>"/>
        </fieldset>
        <fieldset class="form-group">
            <label for="phone" class="col-sm-2">Phone Number: *</label>
            <input name="phone" id="phone" value="<%= stores.phone %>"/>
        </fieldset>
        <fieldset class="form-group">
            <label for="website" class="col-sm-2">Website: </label>
            <input name="website" id="website" value="<%= stores.website %>"/>
        </fieldset>
        <div>
            <%= stores.created %>
        </div>
        <button class="btn btn-primary col-sm-offset-2">Save</button>
        <!--delete confirmation-->
        <a href="/stores/delete/<%= stores._id %>" title="Delete" onclick="return confirm('Are you sure you want to ' +
         'delete?')">
            <button class="btn btn-danger" type="button">Delete</button>
        </a>
    </form>
</main>

<%- include ../partials/footer.ejs %>