<%- include ../partials/header.ejs %>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1>Hello, world!</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a
            jumbotron and three supporting pieces of content. Use it as a starting point to create something more
            unique.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
</div>

<main class="container">
    <h1>Barrie Pet Stores</h1>
    <a href="/stores/add" title="Add a new pet store">Add a new Pet Store</a>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Pet Store Name</th>
            <th>Address</th>
            <th>Phone Number</th>
            <th>Website</th>
        </tr>
        </thead>
        <tbody>
        <!--starting table loop-->
        <% for (var i = 0; i < stores.length; i++) { %>
        <tr>
            <td><%= stores[i].name %></td>
            <td><%= stores[i].address %></td>
            <td><%= stores[i].phone %></td>
            <td><a href="http://<%= stores[i].website %>">http://<%= stores[i].website %></a></td>
            <td><a href="/stores/edit/<%= stores[i]._id %>"><button class="btn btn-primary"
                                                                    type="button">Edit</button></a></td>
        </tr>
        <% } %>
        </tbody>
    </table>

</main>

<%- include ../partials/footer.ejs %>