<%- include partials/header.ejs %>

<div class="jumbotron">
    <div class="container">
        <h1>Barrie Pet Stores</h1>
        <p>Your number one stop for a list of all pet stores, groomers, and boarding in the Barrie area</p>
    </div>
</div>

<!--public directory listing-->

    <main class="container">
        <h1>Barrie Pet Stores</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Pet Store Name</th>
                    <th>Address</th>
                    <th>Phone Number</th>
                    <th>Website</th>
                </tr>
            </thead>
            <tbody>

            <!--starting table loop-->
            <% for (var i = 0; i < stores.length; i++) { %>
                <tr>
                    <td><%= stores[i].name %></td>
                    <td><%= stores[i].address %></td>
                    <td><%= stores[i].phone %></td>
                    <td><a href="<%= stores[i].website %>"><%= stores[i].website %></a></td>
                </tr>
            <% } %>
            </tbody>
        </table>
    </main>
<%- include partials/footer.ejs %>