<%- include ../partials/header.ejs %>

<div class="jumbotron">
    <div class="container">
        <h1>Hello, world!</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a
            jumbotron and three supporting pieces of content. Use it as a starting point to create something more
            unique.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
</div>

<main class="container">
    <h1>Article Details</h1>
    <form method="post" action="<%= article._id %>">
        <fieldset class="form-group">
            <label for="title" class="col-sm-2">Title: *</label>
            <input name="title" id="title" required value="<%= article.title %>" />
        </fieldset>
        <fieldset class="form-group">
            <label for="content" class="col-sm-2">Content: *</label>
            <textarea name="content" id="content" required><%= article.content %>
            </textarea>
        </fieldset>
        <div>
            <%= article.created %>
        </div>
        <button class="btn btn-primary col-sm-offset-2">Save</button>

        <a href="/articles/delete/<%= article._id %>" title="Delete" class="confirmation">
            <button class="btn btn-danger" type="button">Delete</button>
        </a>
    </form>
</main>

<%- include ../partials/footer.ejs %>